* {
  margin: 0;
  padding: 0;
}
html, body {height: 100%;}
.site_foot {
    height: 10px;
    border-top: 1px solid #000000;
    text-align: right;
    padding-right: 10px;
    margin-top: -10px;
}
.site_content {
    overflow: hidden;
    position: relative;
    min-height: 100%;
}
* html .site_content {
    height: 100%;
}
.site_content DIV { 
    float: left;
    display: table-cell; 
    vertical-align: middle;
}
.content_left_column {
    width: 50%;
    padding-bottom: 20px;
}
.content_right_column {
    width: 50%;
    padding-bottom: 20px;
}
img {
    width: 95%;    
}
.label {
    margin-left: 20%;
    margin-right: 10%;
    width: 70%;
    min-width: 350px;
}
.menu {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    min-width: 460px;
}
.menu li {
    list-style: none;
    float: left;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    cursor: pointer;
}
.menu li:hover {
    background: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.menu_gallery_submenu {
    display: none;
}
body {
    background: #D3D3D3;
}
