* {
  margin: 0;
  padding: 0;
}
html, body {height: 100%;}
.site_foot {
    height: 10px;
    border-top: 1px solid #000000;
    text-align: right;
    padding-right: 10px;
    margin-top: -10px;
}
.site_content {
    overflow: hidden;
    position: relative;
    min-height: 100%;
}
* html .site_content {
    height: 100%;
}
.content_left_column, .content_right_column { 
    float: left;
    display: table-cell; 
    vertical-align: middle;
    width: 50%;
    padding-bottom: 20px;
}
img.molbert {
    margin-top: 60px;
    width: 90%;    
}
.label img {
    margin-top: 30px;
    width: 90%;
}
.label {
    margin-left: 10%;
    margin-right: 5%;
    width: 85%;
    min-width: 350px;
}
.menu {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    min-width: 460px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
.menu li {
    list-style: none;
    float: left;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    cursor: pointer;
}
.menu li:hover {
    font-weight: bold;
}
.menu_gallery_submenu {
    display: none;
}
.menu_gallery_submenu li {
    font-weight: normal;
    clear: both;
}
body {
    background-image: url('/media/img/bg.png');
    background-size: 100%;
}
