<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    {% block head %}
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <link href="/media/css/main.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/media/js/jquery-1.6.js"></script>
    </head>
    {% endblock head %}
    <body>
        <div class="site_top">
        {% block top %}
        {% endblock top %}
        </div>
        {% block content %}
        {% endblock content %}
        <div class="site_foot">
        {% block bottom %}
        Сделано товарищами Галеевыми :-)
        {% endblock bottom %}
        </div>
    </body>
</html>
