<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <link href="/media/css/main.css" rel="stylesheet" type="text/css">
    </head>
    {% endblock head %}
    <body>
        <div class="site_top">
        {% block top %}
        {% endblock top %}
        </div>
        {% block content %}
        {% endblock content %}
        <div class="site_foot">
        {% block bottom %}
        {% endblock bottom %}
        </div>
    </body>
</html>
