{% extends 'base.html' %}

{% block title %}Галерея фотографий{% endblock title %}

{% block content %}
<div class="content_left_column">
    <img class="molbert" src="/media/img/molbert.png" />
</div>
<div class="content_right_column">
    <div class="label">
        <img src="/media/img/label.png"/>
    </div>
    <div class="menu">
        <ul>
            <li class="menu_item">ГАЛЕРЕЯ
                <div class="menu_gallery_submenu">
                    <ul>
                        {% for group in groups %}
                        <li>{{group.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="menu_item">ВЫСТАВКИ</li>
            <li class="menu_item">УКРАШЕНИЯ</li>
            <li class="menu_item">КОНТАКТЫ</li>
        </ul>
    </div>
</div>
{% endblock content %}
